@font-face {
    font-family: "Luxury";
    src: url("../assets/fonts/AnyConv.com__Montserrat-VariableFont_wght.woff2") format("woff2") , 
    url("../assets/fonts/AnyConv.com__Montserrat-VariableFont_wght.woff2") format("woff");
    font-style: normal;
}
body{
    font-family: "Luxury" , sans-serif;
    background-color: #111111;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-weight: 100;
}








.sign-side-wrapper > div , .log-side-wrapper > div{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
    
}
.sign-container , .log-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
}
.sign-side , .log-side{
    background: #242323;
    width: 30rem;
    height: 45rem;
    border-radius: 0.5rem;
    position: relative;
    
}
.sign-side__title , .log-side__title{
    display:flex;
    margin-top: 2rem;
}
.sign-side__title-text , .log-side__title-text{
    font-size: 2.5rem;
    background: linear-gradient(to bottom , #f1e2e2, #905da5);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem;
}
.sign-side__nav , .log-side__nav{
    display:flex;
    margin-bottom: -2rem;
    margin-left: 15rem;
    margin-top: 1rem;
    gap: 1rem;
    position: relative;
    justify-content: space-around;
    width: 100%; 
}
.sign-side__nav-button {
    font-size: 1.1rem;
    border: none;
    background: none;
    color: #eeab8c;
    transition: all 0.3s ease-in-out;
    margin-top: -5rem; 
    position: relative;
    z-index: 1;
    flex: 1;
    text-align: center; 
}
.log-side__nav-button{
    font-size: 1.1rem;
    border: none;
    background: none;
    color: #eeab8c;
    transition: all 0.3s ease-in-out;
    margin-top: 2rem;
    z-index: 1;
    position: relative;
    flex: 1;  
}
.sign-side__nav-button:hover , .log-side__nav-button:hover{
    color: rgb(255, 0, 128);
    transform: scale(1.2);
    cursor: pointer;
}
.sign-side__form {
    display: flex;
    flex-direction: column;
    margin-top: -1rem;
    
}
.log-side__form{
    display: flex;
    flex-direction: column;
    margin-top: -0.6rem;
}
.sign-side__form-title {
    font-size: 1.7rem;
    margin-top: 4rem;
    background: linear-gradient(to left , #ffffff, #f5b3ef);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.log-side__form-title{
    font-size: 1.7rem;
    background: linear-gradient(to left , #ffffff, #f5b3ef);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-top: 2.5rem;
}
.sign-side__form-input , .log-side__form-input{
    height: 2.6rem;
    width: 22rem;
    border-radius: 0.5rem;
    outline: none;
    transition: all 0.6s ease-in-out;
    margin-top: 0.4rem;
}
.sign-side__form-input:hover , .log-side__form-input:hover{
    box-shadow: -3px 3px 10px rgb(209, 59, 223);
    cursor: pointer;
}
.sign-side__form-input:focus , .log-side__form-input:focus{
    border: solid 2px #7F00FF;
    box-shadow: -10px 10px 30px rgb(59, 76, 223);
    transform: translateX(20px);
}
.sign-side__form-button {
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    margin-top: 5rem;
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    border: none;
    margin-left: 6.5rem;
    background: linear-gradient(90deg, #6e0ece, #5f072c);
    position: relative;
    transition: all 0.4s ease-in-out;
}
.log-side__form-button{
    font-size: 1.2rem;
    margin-top: 3rem;
    color: rgb(255, 255, 255);
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    border: none;
    margin-left: 6.5rem;
    background: linear-gradient(90deg, #6e0ece, #5f072c);
    position: relative;
    transition: all 0.3s ease-in-out;
}
.sign-side__form-button:hover , .log-side__form-button:hover{
    box-shadow: 0 0 25px #2c24c2, 0 0 25px #787fb9;
    transform: scale(1.1);
    cursor: pointer;
}
.sign-side__form-button:active , .log-side__form-button:active{
    transform: scale(0.9);
    box-shadow: 0 0 10px #4f46e5, 0 0 10px #818cf8;
}
.sign-side__nav-container {
    position: relative;
    width: 100%;
}
.nav_buttons
{
    transition: all 0.4 ease-in-out;
}
.nav_buttons:hover{
    transform: scale(1.35);
}







/* Valid */
.log-side__form-emailError{
    color: rgb(255, 30, 0);
    margin: 0.4rem 0 -0.5rem 0.2rem;
}
.sign-side__apiError{
    color: rgb(255, 30, 0);
    margin: -5px 0 0 0;
}




