@font-face {
    font-family: "Luxury";
    src: url("../assets/fonts/AnyConv.com__Montserrat-VariableFont_wght.woff2") format("woff2") , 
    url("../assets/fonts/AnyConv.com__Montserrat-VariableFont_wght.woff2") format("woff");
    font-style: normal;
}
body{
    font-family: "Luxury" , sans-serif;
    background-color: #111111;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-weight: 100;
}




.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -1rem;
    width: 100%;
    height: 7rem;
    background-color: #200817;
}
.header__svgButton-menu{
    width: 4rem;
    height: 4rem;
}
.header__svgButton:hover{
    transform: scale(1.3);
    cursor: pointer;
}
.header__svgButton:active{
    transform: scale(0.8);
}
.header__title{
    margin-top: 3rem;
    color: rgb(255, 255, 255);
    font-size: 3rem;
}
.header__svgButton-exit{
    width: 3rem;
    height: 3rem;
}
.header__svgButton:hover{
    transform: scale(1.3);
    cursor: pointer;
}
.header__svgButton:active{
    transform: scale(0.8);
}
.header__svgButtonMenu{
    background: none;
    border: none;
    margin-top: 1rem;
    margin-right: 2rem;
    transition: all 0.3s ease;
}
.header__svgButtonExit{
    background: none;
    border: none;
    margin-top: 1rem;
    margin-right: 2rem;
    transition: all 0.3s ease;
}